<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 style="color: red;">Home page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fugit optio est incidunt eum inventore iste enim, ex, rem sunt iure placeat tempora! Rem, sunt! Tenetur quibusdam doloribus consectetur odio, illum quidem animi ab voluptatem iste impedit officiis sequi facere unde earum explicabo minima quo obcaecati odit optio ipsam aut.</p>
</body>
</html>