<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            border: 2px solid green;
            width: 200px;
        }
        .container{
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <h3>User page</h3>
    <a href="/user/new">Add new user</a>
    <div class="container">
        <%for(let user of users){%>
             <div class="box">
                <h4>username: <%=user.username%></h4>
                <p>Age: <%= user.age %></p>
                <p>City: <%= user.city %></p>
                <a href="/users/edit/<%= user.id %>">Edit</a>
                <a href="#">Delete</a>
             </div>
       <% } %>
    </div>
</body>
</html>