<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/abcd">
        <input type="text" placeholder="Enter username..." name="x">
        <br>
        <input type="password" placeholder="Enter Password..." name="y">
        <br>
        <button>Signup</button>
    </form>
</body>
</html>